*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--backgroundColor);
}

:root {
  /*color scheme*/
  --color-1: #ffde89;
  --color-2: #f1d6f6;
  --color-3: #f1f0e7;
  --color-4: #f3f0f8;
  --color-5: #89865d;
  --color-6: #5e5230;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--color-4);
  --textColor: var(--grey-900);
  --borderRadius: 1rem;
  --letterSpacing: 1px;
  --transition: 0.2s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --view-width: 90vw;
}

body {
  color: var(--textColor);
}

img {
  max-width: 100%;
}

main {
  padding: 0.625rem;
  max-width: 43.75rem;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.25rem;
  margin-bottom: 3.125rem;
}

header a {
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

header nav {
  display: flex;
  gap: 0.9375rem;
}

div.post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 1.25rem;

  margin-bottom: 2.1875rem;
}

div.post img {
  object-fit: cover;
  object-position: center;
}

div.post div.texts h2 {
  margin: 0;
  font-size: 1.8rem;
}

div.post p.info {
  display: flex;
  gap: 0.625rem;

  margin: 0.625rem 0 0;
  color: #888;
  font-size: 0.7rem;
  font-weight: bold;
}

div.post p.info a.author {
  text-decoration: none;
  color: #222;
}

div.post p.summary {
  margin: 0.625rem 0;
  line-height: 1.5rem;
}

/* Form */

.form {
  max-width: 25rem;
  margin: 0 auto;
}

.form__input {
  display: block;
  padding: 0.3125rem 0.4375rem;
  margin-bottom: 0.625rem;
  width: 100%;
  height: 2.1875rem;

  border: 0;
  border-radius: 10px;
}

.form__input:focus {
  outline: none;
}

.form__submit-btn {
  display: block;
  margin-top: 1.25rem;
  width: 100%;
  height: 2.1875rem;
  border: 0;
  border-radius: 0.625rem;

  background-color: var(--color-1);
}

.form__title {
  text-align: center;
  margin-bottom: 1.25rem;
}
